<div class="stage">
    <div class="prompt">
        <p class="welcome"> Hello, I'm</p>
        <div>
            <p class="name">Schwynn <span class="name pronun">/ sha ' win /</span></p>
            <p class="name">Santikasemwong</p>
        </div>
        <div>
            <p class="welcome">Computer Engineering Student <a href="https://www.facebook.com/cedtengchula/?locale=th_TH">&#64;Chula</a></p>
            <p class="welcome">I am on a journey of discovery</p>     
            <p class="welcome">Seeking to understand different areas of computer engineering</p>       
        </div>
        <div>
            <button>Resume</button>
            <button (click)="toWork()">Works</button>
        </div>
    </div>
    <div class="picture">
        <img src="assets/images/me.png" alt="Picture of Mine" draggable="false" />
    </div>
</div>